h1{
  font-family: brush script;
  color:turquoise;
}

p{
 font-family:black;
}

body {
    background-color:#b3ffd9;
}
<style>
#myDIV { 
  width: 400px;
  height: 400px;
  background-repeat: no-repeat, repeat;
  background-image: url("https://www.chelseadogs.com/shop-by-breed/a-c/border-collie"), url("paper.gif");
  background-blend-mode: lighten;
}
</style>
